.callout {
	max-width: 400px;
	margin: 10px;
	border: 10px silver;
	padding: 10px;
	background-color: darkslateblue;
	color: white;
}

.callout img {
	float: right;
	margin: 5px;
	border: 1px;
	padding: 3px;
	background-color: silver;
	width: 100px;
	height: 150px;
}

blockquote {
	margin: 0px;
}

cite {
	display: block;
	border-top: 1px dotted silver;
	padding-top: 10px;
	text-align: right;
	font-size: smaller;
}